.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    padding: 0;
}
.content{
    justify-content: center;
    display: flex;
}
.info {
    display: flex;
    flex-direction: row;
    margin-top: 125px;
    align-content: center;
    border: 1px solid rebeccapurple;
    width: 800px;
}
.info_text{
    width: 500px;
}
.photo {
    width: 300px;
    height: 300px;
    background-image: url(../src/assets/photo_profile.jpg);
    border-radius: 150px;
    background-size: cover;

}
.button {
    width: 160px;
    height: 50px;
    background: linear-gradient(#33ff91, #23f8c5, #33dde6);
    color: #000;    
    font-size: 20px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease; 

}
.button:hover{
    background: #23f8c5;
    font-size: 22px;
    
}