.nav{
    color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(21, 255, 0);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    ;
}
ul,li{
   display: inline;
   margin: 40px 10px;
   text-align:right;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #00E8B0;
}
.logo{
    width: 190px;
    height: 69px;
    background-image: url(../src/assets/Logo/Logo1.png);
    background-size: cover;
    background-repeat: none;
    margin-left: 30px;
}